/* General styling */
body {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  color: gray;
}

.mobile-nav, .tab, #img-mobile, #fa-mobile {
  display: none;
}

/* Tablet/smartphone media query */
@media only screen and (max-width: 760px) {
  /* Hiding stuff and setting defaults */
  body {
    font-size: 14px;
  }

  .logo, .menu, .course, #invis {
    display: none;
  }

  /* Mobile Nav */
  .mobile-nav {
    display: flex;
    align-items: center;
  }

  .mobile {
    display: flex;
    justify-content: space-around;
  }

  nav {
    height: 64px;
  }

   /* Jumbotron styling */
  #jumbo-mobile {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    margin: 0px;
    padding-top: 5.4em;
  }

  #jumbo-mobile .right {
    width: 100%;
    padding-bottom: 1em;
  }

  #jumbo-mobile h1 {
    font-size: 2em;
    padding: 1em;
  }

  #jumbo-mobile h3 {
    font-size: 1em;
    padding-left: 2em;
  }

  #jumbo-mobile .left {
    width: 100%;
    padding: 0px;
  }

  #jumbo-mobile .right div {
    width: auto;
    margin-left: 3.5%;
    margin-right: 3.5%;
  }

  #course-container-mobile {
    background-color: rgb(245, 245, 255);
    border-bottom: 2px solid #e6e6e6;
    border-top: 2px solid #e6e6e6;
  }

  #course-container-mobile h1 {
    font-size: 2em;
    padding: 0.75em;
  }

  #courses {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    flex-flow: column;
  }

  #courses .course img, #courses .course h5, #courses .course p {
    display: none;
  }

  /* Accordion styling */
  .tab {
    display: block;
    position: relative;
    margin-bottom: 1px;
    width: 92%;
    color: #fff;
    overflow: hidden;
  }

  input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }

  label {
    position: relative;
    display: block;
    padding: 0 0 0 1em;
    background: #bfbfbf;
    color: #4d4d4d;
    font-weight: bold;
    font-size: 1.25em;
    line-height: 3;
    cursor: pointer;
  }

  .tab-content {
    max-height: 0;
    overflow: hidden;
    background: #bfbfbf;
    font-weight: bold;
    color: #4d4d4d;
    -webkit-transition: max-height 750ms ease 100ms;
    -o-transition: max-height 750ms ease 100ms;
    transition: max-height 750ms ease 100ms;
    margin-bottom: 0.5em;
  }

  .tab-content img {
    width: 100%;
    height: auto;
  }

  .tab-content p, .tab-content h5 {
    margin: 1em;
  }

  /* :checked */
  input:checked ~ .tab-content {
    max-height: 20em;
  }

  /* Icon */
  label::after {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 3em;
    height: 3em;
    line-height: 3;
    text-align: center;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
  }

  input[type=checkbox] + label::after {
    content: "+";
  }

  input[type=radio] + label::after {
    content: "\25BC";
  }

  input[type=checkbox]:checked + label::after {
    transform: rotate(315deg);
  }

  input[type=radio]:checked + label::after {
    transform: rotateX(180deg);
  }

  #container-mobile .left {
    display: none;
  }

  #right-mobile {
    width: 100%;
  }

  #column-mobile {
    padding: 5%;
  }

  #img-mobile {
    display: block;
    width: 100%;
    height: auto;
  }

  #container-mobile .right .column {
    display: block;
  }

  #thesis-mobile {
    display: flex;
    width: 100%;
  }

  #thesis-mobile .right {
    display: none;
  }

  #thesis-mobile .left {
    padding: 0px;
    margin: 0px;
    width: 100%;
  }

  #thesis-mobile .left p, #thesis-mobile .left h3 {
    display: none;
  }

  #thesis-mobile .left video {
    width: 100%;
    height: auto;
  }

  #fa-mobile {
    display: inline-flex;
  }
}

/* Header & Nav styling */
header {
  width: 100%;
}

nav {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 3.25em;
}

nav img {
  margin-left: 1.34em;
  margin-right: 0em;
}

nav div {
  display: flex;
  align-items: center;
}

.menu {
  padding-right: 2em;
}

ul li {
  font-weight: bold;
  display: inline;
  padding: 0 1em;
}

.logo img {
  height: 5em;
  width: auto;
}

.logo span {
  font-weight: bold;
  text-transform: uppercase;
}

#academycolor {
  color: LightGray;
}

/* setting some boundaries --- general containers below --- */
.main-container {
  display: flex;
  width: 100%;
  height: auto;
}

.left {
  padding: 2em;
  margin-right: 2.25em;
  width: 60%;
}

.left img {
  width: 100%;
  height: auto;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

.column {
  display: inline-flex;
  align-items: center;
  padding: 1.5em 0em 1.5em 1em;
  border-left: 2px solid #e6e6e6;
  border-bottom: 2px solid #e6e6e6;
  transition: all 500ms ease 50ms;
}

.last {
  border-bottom: none;
}

.column:hover {
  background-color: #e6e6e6;
}

.right h1 {
  font-size: 2.75em;
  font-weight: bold;
  color: #4d4d4d;
  width: 80%;
  padding-bottom: 1em;
}

.right h3 {
  font-size: 1.5em;
  font-weight: bold;
  color: #4d4d4d;
  width: 70%;
  padding-bottom: 2em;
}

/* Jumbotron style */
.jumbotron {
  padding-top: 6em;
  width: 100%;
  height: auto;
  background-color: #d9d9d9;
  display: inline-flex;
}

.btn {
  border: .2em solid #4d4d4d;
  border-radius: .5em;
  background-color: #d9d9d9;
  color: #4d4d4d;
  font-weight: bold;
  text-align: center;
  padding: 1em;
  margin-bottom: 1em;
  width: 70%;
  transition: all 500ms ease 50ms;
}

.btn:hover {
  background-color: #4d4d4d;
  color: white;
  cursor: pointer;
}

/* Main info styling */
.column-text {
  font-size: 1em;
  line-height: 1.5;
  margin-left: 1em;
}

.column img {
  height: 100%;
  width: 40%;
}

.column-text h2 {
  font-weight: bold;
  font-size: 1.25em;
}

.column-text h5 {
  font-size: 1em;
}

.column-text p {
  margin-top: 1em;
}

.column-text a {
  color: dodgerblue;
}

.main-container .left {
  line-height: 1.5;
}

.main-container .left h2 {
  margin-top: 1em;
  margin-bottom: 0.75em;
  font-weight: bold;
  font-size: 2em;
}

.main-container .left p {
  font-size: 1em;
}

.main-container .left h5 {
  margin-top: 1.75em;
  font-size: .9em;
}

/* --- Course info styling --- */
.course-container {
  width: 100%;
  background-color: #e6e6e6;
  padding-bottom: 2em;
}

.course-container h1 {
  font-size: 2.25em;
  font-weight: bold;
  text-align: center;
  padding: 1.8em;
}

.courses {
  width: 80%;
  margin-top: 0.5em;
  margin-left: 10%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  text-align: left;
}

.course {
  height: 19em;
  width: 30%;
  padding-bottom: 2em;
  margin-bottom: 2em;
  background-color: white;
}

.course img {
  width: 100%;
  height: auto;
}

.course h2 {
  margin: 1em 0 0 0.75em;
  font-weight: bold;
  font-size: 1.25em;
}

.course h5 {
  margin: 1em;
}

.course p {
  font-size: 1em;
  margin: 1em;
  line-height: 1.4em;
}

/* ---- Thesis exhibit section ---- */
.thesis-container {
  width: 100%;
  display: flex;
}

.thesis-heading {
  margin-top: 1.5em;
  margin-bottom: .5em;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

.left video {
  width: 100%;
}

.thesis-container .right .column {
  border: none;
}

.thesis-container .left h3 {
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 1.25em;
  font-weight: bold;
}

/* --- Footer incoming --- */
footer {
  display: flex;
  justify-content: space-between;
  padding: 2.75em;
  border-top: 1px solid #e6e6e6;
  font-size: 0.75em;
}